*.class
*.jar
.classpath
.project
.settings/
*.properties

target/
target/classes/META-INF/DEPENDENCIES

target/antrun/build-main.xml

target/classes/META-INF/DEPENDENCIES

target/copynativelibs.sh

target/maven-archiver/pom.properties
